/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// General Styles

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

.margin {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

// Specific Styles
header {
  & span,
  i {
    color: rgb(0, 195, 255);
  }
}

.heading {
  font-size: 62px;
  font-weight: 300;
  margin-left: 10px;
}

input {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0 20px 0;
  border: rgb(167, 167, 167) 1px solid;
}

button {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  background: rgb(0, 195, 255);
  border: none;
  color: white;
  margin-bottom: 30px;
}

.book-show {
  & h2 {
    font-weight: 500;
  }

  & p {
    padding: 10px 0;
    background: rgb(209, 209, 209);
  }
}

table {
  width: 100%;

  & thead {
    & td {
      font-size: 18px;
      font-weight: 500;
      padding: 20px 10px;
    }
  }

  & tbody {
    & tr:nth-child(2n) {
      background: rgb(230, 230, 230);
    }
    & td {
      padding: 20px 10px;

      & .fa-window-close {
          color: red;
      }

      & .fa-check-square{
          color: green;
      }
    }
  }
}
